body
{
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
    font-size: 25px;
}
h1
{
    text-align: center;
    font-size: 80px;
}
p.para1
{
    border: 2px solid white;
}
p.para2
{
    border: 2px dashed white;
}
p.para3
{
    border: 2px dotted white;
}
p.para4
{
    border: 2px double white;
}
p.para5
{
    border: 2px groove white;
}
