body
{
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
    font-size: 25px;
}
h1
{
    text-align: center;
    font-size: 80px;
}
p.para1
{
    border: 2px solid white;
    border-top-left-radius: 10px;
}
p.para2
{
    border: 2px dashed white;
    border-bottom-left-radius: 10px;
}
p.para3
{
    border: 2px dotted white;
    border-top-right-radius: 10px;
}
p.para4
{
    border: 2px double white;
    border-bottom-right-radius: 10px;
}
p.para5
{
    border: 2px groove white;
    border-radius: 10px;
}
