body
{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: #ffcf79;
    font-size: 25px;
}

h1
{
    text-decoration: underline;
    font-size: 150;
    text-align: center;
}

h2
{
    text-decoration: underline;
    font-size: 1.2em;
    text-align: center;
}

p.para1
{
    color: blue;
}

p.paragraph
{
    color: white;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #e5e4d7;
    padding: 20px 20px 20px 20px;
    border: black 2px solid;
    background-image: url(bg.jpg);
}

p.para4
{
    color: black;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #e5e4d7;
    padding: 20px;
    border: black 2px solid;
    margin: 20px;
    margin-top: 50px;
    margin-left: 400px;
}

.imagec
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background-color: silver;
    border: 2px black solid;
}
.highlight
{
    background-color: yellow;
    color: red;
}