body
{
    margin: 0px;
}

#container
{
    width: 968px;
    margin: auto;
}

header
{
    background-color: blue;
    height: 75px;
    width: 964px;
    border: solid 2px black;
    color: white;
}

nav
{
    background-color: rgb(4, 100, 203);
    height: 30px;
    width: 964px;
    border: solid 2px black;
    font-weight: bold;
}

aside
{
    float: left;
    width: 176px;
    height: 630px;
    background-color: #00fff2;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    border-bottom-left-radius: 1em;
}

main
{
    float: left;
    width: 786px;
    height: 630px;
    background-color: #fcffbe;
    border-right: solid 2px black;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: auto;
    border-bottom-right-radius: 1em;
}

