h1,h2
{
    color: blue;
    border-bottom: 1px solid black;
}

p
{
    color: red;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.green
{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}